name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Buildozer dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            python3 python3-pip python3-setuptools \
            zip unzip openjdk-17-jdk git \
            libncurses5 libstdc++6 libffi-dev \
            libssl-dev autoconf automake libtool \
            pkg-config zlib1g-dev

      - name: Install Buildozer + Cython
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.36

      - name: Build APK
        run: buildozer -v android debug
